{% extends 'layouts/base.html' %}
{% block title %}Client's Dashboard{% endblock title %}
{% block sidebar %}
    {% include 'clients/clients_sidebar.html' %}
{% endblock sidebar %}
{% block content %}
<div class="content-wrapper">

<section class="content-header">
          <h1>Project Given Amount</h1>

</section>
        <!-- Main content -->
    <section class="content">
    <!-- TABLE: LATEST ORDERS -->
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Project Given Amount Report</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="table-responsive">
            <table class="table no-margin">
              <thead>
              <tr>
                <th>SI</th>
                <th>Date</th>
                <th>From User</th>
                <th>For Project</th>
                <th>Amount</th>
              </tr>
              </thead>
              <tbody>
                {% for i in datas %}
                	<tr>
                    <td>{{ forloop.counter }}</td>
                		<td>{{ i.date }}</td>
                		<td>{{ i.from_user }}</td>
                		<td>{{ i.for_project.pname }}</td>
                		<td>{{ i.amount }}</td>
                	</tr>
                {% endfor %}
                <tr>
                  <td colspan="4" style="text-align: right;"><b>Total Given Amount : </b></td>
                  <td><b>{{ total_given_amount }}</b></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.table-responsive -->
        </div>
        <!-- /.box-body -->
{#                <div class="box-footer clearfix">#}
{#                  <a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left">Place New Order</a>#}
{#                  <a href="javascript:void(0)" class="btn btn-sm btn-default btn-flat pull-right">View All Orders</a>#}
{#                </div>#}
        <!-- /.box-footer -->
      </div>
        <!-- /.box -->
    </section>
</div>
{% endblock content %}